
<template name="home">
	<h1>Welcome to Live-Slides</h1>
  {{> presentations this.presentations}}
</template>

<template name="presentations">
	{{#each this}}
		{{> presentationTitle this}}
	{{/each}}
</template>

<template name="presentationTitle">
	<h3>
		<a href="/{{_id}}">
			<small class="pull-right">{{momentCreatedAgo}}</small>
			<span>{{either title _id}}</span>
		</a>
	</h3>
</template>

<template name="urlSlide">
	<section class="slide-container">
		<div class="hidden">{{this.url}}</div>
		<iframe src={{this.url}}></iframe>
	</section>
</template>

<template name="imageSlide">
	<section class="slide-container">
		<div class="hidden">{{this.image}}</div>
		<img src={{this.image}} />
	</section>
</template>

<template name="contentSlide">
	<section class="slide-container">
		{{#if editMode}}
			{{> editableText 
					context=this
					collection="slides" 
					field="content"
					removeEmpty=true
					textarea=true
					autoInsert=true
					placeholder="Slide content"
					title="Edit the slide content"
					userCanEdit=editMode
					onStartEditing="refreshSlide"
					wysiwyg=false}}
		{{else}}
			<div class="start-edit">
{{#markdown}}
{{this.content}}
{{/markdown}}
			</div>
		{{/if}}
	</section>
</template>

<template name="slides">
	<div class="slides">
		{{#each this}}
			{{#if this.content}}
				{{> contentSlide this}}
			{{/if}}
			{{#if this.url}}
				{{> urlSlide this}}
			{{/if}}
			{{#if this.image}}
				{{> imageSlide this}}
			{{/if}}
		{{/each}}
	</div>
</template>

<template name="presentationDetail">
	{{> editableText 
			context=presentation
			collection="presentations" 
			field="title" 
			title="Name this presentation"
			placeholder="Name this presentation"
			options=bootstrapifyLarge }}
</template>

<template name="presentation">
	<div class="reveal slides-container">
		{{> slides slides}}
	</div>
</template>
