
<template name="home">
	<h1>Welcome to Live-Slides</h1>
  {{> presentations this.presentations}}
</template>

<template name="presentations">
	{{#each this}}
		{{> presentationTitle this}}
	{{/each}}
</template>

<template name="presentationTitle">
	<h3>
		<a href="/{{_id}}">
			<small class="pull-right">{{momentCreatedAgo}}</small>
			<span>{{either title _id}}</span>
		</a>
	</h3>
</template>

<template name="slide">
	<div class="slide-container">
		{{> editableText 
				context=this
				collection="slides" 
				field="content"
				removeEmpty=true
				textarea=true
				autoInsert=true
				placeholder="Slide content"
				wysiwyg=false}}
	</div>
</template>

<template name="slides">
	{{#each this}}
		{{> slide this}}
	{{/each}}
</template>

<template name="presentationDetail">
	<h3>
		{{> editableText 
				context=presentation
				collection="presentations" 
				field="title" 
				title="Name this presentation"
				placeholder="Name this presentation"
				options=bootstrapifyLarge }}
	</h3>
</template>

<template name="presentation">
	{{> presentationDetail presentation}}
	<div class="slides-container">
		{{> slides slides}}
		{{> slide extra}}
	</div>
</template>
