
<template name="home">
	<h1>Welcome to Live-Slides</h1>
  {{> presentations this.presentations}}
</template>

<template name="presentations">
	{{#each this}}
		{{> presentationTitle this}}
	{{/each}}
</template>

<template name="presentationTitle">
	<h3>
		<a href="/{{_id}}">
			<small class="pull-right">{{momentCreatedAgo}}</small>
			<span>{{either title _id}}</span>
		</a>
	</h3>
</template>

<template name="newSlide">
	<section class="slide-container">
		<h4>New Slide&hellip;</h4>
		<p><a class="prep-slide" data-type="content">Content</a></p>
		<p><a class="prep-slide" data-type="url">IFrame</a></p>
		<p><a class="prep-slide" data-type="image">Image</a></p>
	</section>
</template>

<template name="urlSlide">
	<section class="slide-container">
		{{#if editMode}}
			{{> editableText 
					context=this
					collection="slides" 
					field="url"
					removeEmpty=true
					textarea=true
					autoInsert=true
					useMethods=false
					placeholder="Set a link to a website"
					title="Set a link to a website"
					userCanEdit=editMode
					onStartEditing="refreshSlide"}}
		{{else}}
			<iframe src={{this.url}}></iframe>
		{{/if}}
	</section>
</template>

<template name="imageSlide">
	<section class="slide-container">
		{{#if editMode}}
			{{> editableText 
					context=this
					collection="slides" 
					field="image"
					removeEmpty=true
					textarea=true
					autoInsert=true
					useMethods=false
					placeholder="Set a link to an image"
					title="Set a link to an image"
					userCanEdit=editMode
					onStartEditing="refreshSlide"}}
		{{else}}
			<img src={{this.image}} />
		{{/if}}
	</section>
</template>

<template name="contentSlide">
	<section class="slide-container">
		{{#if editMode}}
			{{> editableText 
					context=this
					collection="slides" 
					field="content"
					removeEmpty=true
					textarea=true
					autoInsert=true
					useMethods=false
					placeholder="Slide content"
					title="Edit the slide content"
					userCanEdit=editMode
					onStartEditing="refreshSlide"}}
		{{else}}
			<div class="start-edit">
{{#markdown}}
{{this.content}}
{{/markdown}}
			</div>
		{{/if}}
	</section>
</template>

<template name="slides">
	<div class="slides">
		{{#each this}}
			{{#if this.content}}
				{{> contentSlide this}}
			{{else}}
				{{#if this.url}}
					{{> urlSlide this}}
				{{else}}
					{{#if this.image}}
						{{> imageSlide this}}
					{{else}}
						{{> newSlide this}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/each}}
	</div>
</template>

<template name="presentationDetail">
	{{> editableText 
			context=presentation
			collection="presentations" 
			field="title" 
			title="Name this presentation"
			placeholder="Name this presentation"
			options=bootstrapifyLarge }}
</template>

<template name="presentation">
	<div class="reveal slides-container">
		{{> slides slides}}
	</div>
	{{#if editMode}}
		{{> slideMover}}
	{{/if}}
</template>

<template name="slideMover">
	<div class="slide-mover">
		<a class="btn btn-link move-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
		<a class="btn btn-link move-right"><i class="glyphicon glyphicon-chevron-right"></i></a>
	</div>
</template>