<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/0.96/head.min.js"></script>
</head>
<body>
</body>

<template name="layout">
	{{pageTitle}}
	{{>nav}}
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	    	{{>yield}}
	    </div>
	  </div>
	</div>
	{{> sAlert}}
</template>

<template name="loading">
	<!-- Loading... -->
</template>

<template name="notFound">
	Not found!
</template>